body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html {
  height: 100%;
}

.mb-15 {
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

.message-card {
  width: 75%;
  margin: auto;
}
